<nav class="top-bar ng-scope" data-topbar data-ng-controller="HeaderController">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">ngFantasyFootball</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li data-ng-repeat="entry in navbarEntries" data-ng-show="auth" data-ng-class="{ active: entry.isActive }">
        <a href="#{{entry.link}}">{{entry.title}}</a>
      </li>
    </ul>
    <ul class="right" data-ng-hide="auth">
      <li data-ng-repeat="entry in navbarEntries" data-ng-class="{ active: entry.isActive }">
        <a href="#{{entry.link}}">{{entry.title}}</a>
      </li>
    </ul>
    <ul class="right ng-hide" data-ng-show="auth">
      <li class="has-dropdown">
        <a href="">{{user.name}} <b class="caret"></b></a>
        <ul class="dropdown">
          <li><a href="#" data-ng-click="logout()">Signout</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>

